.help-container {
    padding-top: 70px;
    margin-left: 40px;
    margin-right: 40px;
    color: #4e4d4d;
}

.help-faq-title {
    font-size: 30px;
    font-weight: 600;
    border-bottom: 2px solid lightgray;
    margin-bottom: 20px;
}

.help-question {
    margin-bottom: 30px;
}

.help-question-title {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(244, 243, 243);
}