.about-container {
    padding-top: 150px;
    margin-left: 40px;
    margin-right: 40px;
    color: #4e4d4d;
}

.slogan-statement-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slogan-container {
    font-size: 50px;
    font-weight: 600;
}

.statement-container {
    font-size: 20px;
    text-align: center;
    font-weight: 300;
    width: 550px;
}

.app-info-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
    font-size: 17px;
    font-weight: 300;
    text-align: center;
    border-bottom: 2px solid lightgray;
    padding-bottom: 70px;
}

.app-info-item-value {
    font-weight: 600;
}

.socials-section {
    margin-top: 70px;
    text-align: center;
    font-size: 17px;
    font-weight: 300;
    margin-bottom: 70px;
}

.about-social-icons {
    background-color: #3261ce;
    padding: 5px;
    margin-top: 20px;
}

.about-promo-section {
    margin-left: 20%;
    margin-right: 20%;
}

.about-promo-item {
    margin-bottom: 30px;
}

.promo-item-title {
    font-size: 25px;
    border-bottom: 1px solid lightgray;
    margin-bottom: 10px;
}

.promo-item-content {
    font-weight: 300;
}

@media screen and (max-width: 610px) {
    .slogan-container {
        font-size: 30px;
    }

    .app-info-item-title {
        font-size: 14px;
    }

    .statement-container {
        font-size: 15px;
        width: 250px;
    }
}