.single-article-component-container {
    padding-top: 100px;
    margin-left: 40px;
    margin-right: 40px;
    height: 100%;
}

.article-title {
    display: flex;
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 20px;
}

.article-header-body {
    margin-left: 5%;
    margin-right: 5%;
}

.article-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.article-info {
    display: flex;
    align-items: center;
}

.user-img {
    height: 50px;
    width: 50px;
    background: lightgray;
    border-radius: 30px;
    margin-right: 10px;
}

.article-user-name {
    font-size: 17px;
    font-weight: 500;
}

.article-date {
    font-size: 15px;
}

.article-body {
    overflow: hidden;
}

.article-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 5px;
}

.article-likes {
    margin-right: 15px;
}

.article-footer-left {
    display: flex;
}

.info-space {
    margin-top: 20px;
}

.article-written-by {
    font-size: 15px;
}

.far {
    margin-right: 5px;
}

.single-article-skeleton-loader {
    margin-left: 50px;
    margin-right: 10px;
}

.single-article-skeleton-title {
    height: 85px;
    max-width: 550px;
    background: #eeeeee;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    animation: loader 1.3s ease-in-out infinite;
    box-shadow: 0 4px 10px 0 rgba(226, 226, 226, 0.15);
}

.single-article-skeleton-username {
    height: 25px;
    max-width: 850px;
    background: #eeeeee;
    border-radius: 10px;
    margin-top: 7px;
    animation: loader 1.3s ease-in-out infinite;
    box-shadow: 0 4px 10px 0 rgba(226, 226, 226, 0.15);
}

.single-article-skeleton-body {
    height: 250px;
    max-width: 850px;
    background: #eeeeee;
    border-radius: 10px;
    margin-top: 7px;
    margin-bottom: 10px;
    animation: loader 1.3s ease-in-out infinite;
    box-shadow: 0 4px 10px 0 rgba(226, 226, 226, 0.15);
}

@media screen and (max-width: 550px) { 
    .article-header-body {
        margin-left: 3px;
        margin-right: 3px;
    }
}